<body>
<%= render "shared/header" %>

 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 
<div class = main2>
<div class = registration_main >

 <div class = search>
          <%= search_form_for @q, url: tweets_path do |f| %>
          <div class="search-field">
           <%= f.text_field :item_name_cont, placeholder: 'キーワードから探す', class: "search-input"  %><br>
           <%= f.label :category_id_eq, 'カテゴリー' %> 
           <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"},class:"category-box") %>  
          </div>
          <%= f.label :price_gteq, '価格帯　'%>
          <%= f.number_field :price_gteq, placeholder: "¥ Min",class: "price-box" %>　〜　
          <%= f.number_field :price_lteq, placeholder: "¥ Max",class: "price-box"  %><br>


          <%= f.submit '検索', class: "search-btn"%>　<%=link_to 'リセット', tweets_path, class:"reset-btn" %>
          <% end %>
         </div>

     <%= form_with model: @tweet, href:"/tweets", class: 'registration_main',local: true do |f| %> 


     <ul class = "tweet_boxs">
     <% @tweets.each do |tweet| %>
      <li class='tweet_box'>
        <%= link_to tweet_path(tweet.id), class: "nav-link" do %>
         <% if  tweet.event_id.present? %>
            <p class = event_p>イベント限定商品</p>
             <%= image_tag tweet.images[0],class: "tweet_image" %>
          <% else %>
        <div class='tweet-content'>
         <p class = event_p3>通常商品</p>
          <%= image_tag tweet.images[0],class: "tweet_image" %>
        </div>
           <% end %>

        <div class='tweet-info'>
          <p class='tweet_box_p'>
            <%= tweet.item_name %><br>
            ￥<%= tweet.price %>(税込)
          </p>
        </div>
        <% end %>
      </li>
      <% end %>
</div>
    </ul> 
</div>

 <% end %> 


<%= render "shared/footer" %>

</body>