<body>
<%= render "shared/header" %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class = main2>

 <%= form_with model: @tweet, href:"/tweets", class: 'registration_main',local: true do |f| %> 
 
        <div class = show_box>

        <div class = show_box2>
        <% if current_user.already_favorite?(@tweet) %>
          <%= link_to tweet_favorites_path(@tweet), method: :delete do%>
           <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
          <% end %>
          <% else %>
          <%= link_to tweet_favorites_path(@tweet), method: :post do %>
           <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i><br>
          <% end %> 
          <% end %>


        <% if  @tweet.event_id.present? %>
            <p class = event_p2>イベント限定商品</p>
          <% end %>
        </div>
        
       <%= image_tag @tweet.image,class: "show_image"%>
       <%= @tweet.item_name %> <br>
       ￥<%= @tweet.price %>（税込）<br>
       </div>  
       <div class = show_information>
        <%= @tweet.information %> 
        </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ブランド名</th>
          <td class="detail-value"><%= @tweet.shop_name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @tweet.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品名</th>
          <td class="detail-value"><%= @tweet.item_name %></td>
        </tr>
        <tr>
          <th class="detail-item">個数</th>
          <td class="detail-value"><%= @tweet.quantity %></td>
        </tr>
         <tr>
          <th class="detail-item">内容量</th>
          <td class="detail-value"><%= @tweet.capacity %></td>
        </tr>
         <tr>
          <th class="detail-item">賞味期限</th>
          <td class="detail-value"><%= @tweet.expiry %></td>
        </tr>
         <tr>
          <th class="detail-item">保存方法</th>
          <td class="detail-value"><%= @tweet.keep %></td>
        </tr>
        <tr>
          <th class="detail-item">アレルギー</th>
          <td class="detail-value"><%= @tweet.allergy %></td>
        </tr>

        <tr>
          <th class="detail-item">販売箇所</th>
          <td class="detail-value"><%= @tweet.area %></td>
        </tr>
        <% if  @tweet.url.present? %>
        <tr>
          <th class="detail-item">ブランドHP</th>
          <td class="detail-value"><%= @tweet.url %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

     <% if user_signed_in? && current_user.admin? && current_user == @tweet.user %> 
       <div class = edit_box>
      <%=link_to '一覧ページへもどる', tweets_path, class:"show_btn" %>
      <%=link_to '編集', edit_tweet_path,method: :get, class:"show_btn" %>
      <%=link_to '削除', tweet_path,method: :delete,class:"show_btn" %>
      </div>
      <% else %> 
       <div class = show_box>
        <%=link_to '一覧ページへもどる', tweets_path, class:"show_btn" %>
      </div>
     <% end %> 
     </div>

    <% end %> 

  <div class = registration_main3>
      <% if @comments.present?%>
     <div class= "one1">口コミ一覧</div>

    <div class= "second2">


     <% @comments.each do |comment| %>

      <div class = "first">

       <div class = "two">
         <%= comment.user.nickname %>　　　
          <span id="star-rate-<%= comment.id %>"></span>
          <script>
          $('#star-rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= comment.rate %>,
          });
          </script>
        </div> 

          <div class = "two2"><%= comment.scene.name %></div>
          <div class = "two"> <%= comment.comment %></div>
      </div>
     <% end %>
    </div>
 </div>

  <% else %>

  <div class= "one1">口コミ一覧</div>
    <div class= "second2">
      まだ口コミはありません。
     </div>
   </div>

  <% end %>
  
    </div>

      <div class = registration_main2>
      
    <%= form_with(model:[@tweet,@comment],local: true) do |f| %>
    <div class= "one">口コミを投稿する</div>
    <div class= "second">
    <%= f.collection_select(:scene_id, Scene.all, :id, :name, {}, {class:"collection"}) %><br> 

    <div id="star">
    <%= f.label :rate,'評価：　'%>
    <%= f.hidden_field :rate, id: :review_star %>
    </div>

    <script>
    $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'comment[rate]',
    half: true,
    });
    </script>  


    <label class = text>口コミ<br>
    <%= f.text_area :comment,class: "comment_box",placeholder:"＊500文字以内で入力して下さい＊",maxlength: 500 %></label><br>
    <%= f.submit "送信する", class:"send" %>
    </div>
     <% end %>

      </div>
     </div>

    



<%= render "shared/footer" %>

</body>