<html>
<head>
<%= render "shared/header" %>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
</head>


<body>
<div class = 'main2'>


 <div class = registration_main >
<div class = information_title> 手土産にまつわる豆知識です。<br> ご利用されるシーンに併せてご活用ください。 </div>

<%= javascript_include_tag 'slick.js' %>
<div id= "slider-for-information" >
   <%= image_tag 'information1.png' %>
   <%= image_tag 'information2.png'%>
  <%= image_tag 'information3.png'%>
 </div>



<div class = information_title> ユーザー登録時に頂いた情報を頼りに作成した統計データです。<br> 商品投稿の際などにご活用ください。 </div>

<div class = information_box>
   <%= pie_chart @gender_data,title: "性別", colors: ["#FFBEDA", "#BAD3FF","#FFC7AF"]%>
   <%= pie_chart @situation_data, title: "家庭" , colors: ["#9BF9CC", "#E9FFA5"]%>
   <%= pie_chart @children_data, title: "子供の有無" , colors: ["#FFB6C1", "#EAD9FF"]%>
   <%= pie_chart @age_data, title: "年齢層", colors: ["#FFBEDA", "#FFC7AF","#B1F9D0","#C2EEFF","#BAD3FF","#DCC2FF"]%>
</div>


 <%= @job_ranks%>
  <%= @job_ranks_name%>
 
 <%= @area_ranks%>

  <%= @think_ranks%>

</div>
</div>

<%= render "shared/footer" %>

</body>
</html>