<%= render "shared/header" %>


<div class = 'main2'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <%= form_with model: @user, url:user_session_path , class: 'registration_main', local: true do |f| %> 
  <%= render 'shared/error_messages', model: f.object %>

 <div class = registration_main >

  <p class = registration_p>ユーザーログイン</p>

    <div class = field_box>
     <label class = text>メールアドレス<br>
    <%= f.email_field :email,class: "field",placeholder:"PC・携帯どちらでも可", autofocus: true %></label><br>
    <label class = text>パスワード<br>
    <%= f.password_field :password,class: "field",placeholder:"6文字以上の半角英数字" %></label>
    <%= f.submit "ログイン"  ,class:"register-btn" %><br><br>

  <p class = registration_p>弊社サービスに関して</p>
  <div class = registration_text>

     弊社サビースは<span class="text0">『手土産選びを簡単に』</span>をコンセプトに、<br><br>
     消費者側の<span class="text1">「様々な企業の商品比較をひとつのサイトで完結させたい」</span><br>
     企業側の<span class="text1">「商品PRの場を増やしたい」</span><br><br>
     そんな双方のお悩みを解決するべく、企業と消費者とを繋ぐことを目的に作られたサービスです。<br><br>
    ＊　完全会員制とはなりますが、全ての機能を<span class="text1">無料</span>でお使いいただく事が出来ます。<br><br>
     <i class="fa fa-delicious fa-2x" aria-hidden="true"> <a href="/tweets" class="text3">商品一覧を覗いてみる　　</a></i> 
   <i class="fa fa-user-plus fa-2x" aria-hidden="true"> <a href="/users/sign_up" class="text2">まずは会員登録から</a></i> 
    </div>

  </div>
<% end %>

</div>
</div>
</div>
<%= render "shared/footer" %>
